.reviews {
  &__slides {
    padding-left: 10%;
    @include breakpoint(small){
      padding-left: 0;
    }
  }
  &__slide {
    box-sizing: border-box;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    background: $purple-regular;
    border-radius: 12px;
    height: 360px;
    cursor: grab;
  }
}