.btn{
  &--filled{
    border-radius: 8px;
    padding: 25px 32px;
    box-sizing: border-box;
    color: $white;
    font-size: 16px;
    font-family: Aeonik;
    font-weight: 600;
    border: 1px solid transparent;
    min-width: 230px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: ease-in-out 0.3s all;
    &--dark{
      background: $purple-dark;
      &:hover{
        background: transparent;
        border: 1px solid white;
      }
    }
    &--regular{
      background: $purple-regular;
      &:hover{
        background: transparent;
        color: $purple-regular;
        border: 1px solid $purple-regular;
      }
    }
    @include breakpoint(small){
      width: 100%;
    }
  }
}