$black: #212121;
$white: #FEFEFE;
$lightgrey: #D4D4D4;
$darkgrey: #4A4A4A;
$orange: #FF5D52;
$blue: #1D253D;
$gradient-orange: linear-gradient(90deg, #FF5D52 4%, #FF6F32 53%, #FF8824 100%);
$gradient-blue: linear-gradient(-90deg, #1B2132 0%, #1C2132 0%, #141530 59%);
$shadow1: -1px 4px 13px 0 rgba(33,33,33,0.20);