.input{
  &--newsform{
    display:flex;
    align-items: center;
    position: relative;
  }
  &--news{
    height: 64px;
    border: none;
    background: $grey-light;
    border-radius: 8px;
    flex-grow: 2;
    outline: none;
    padding-left: 24px;
    font-family: Aeonik;
    font-size: 14px;
    color: $black-dark;
    &::-webkit-input-placeholder{
      font-family: Aeonik;
      font-size: 14px;
      color: $black-light;
    }
    &__submit{
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $purple-regular;
      border-radius: 8px;
      -webkit-appearance: none;
      cursor: pointer;
      position: absolute;
      right: 4px;
    }
  }
}
#hero__newsform__submit{
  display: none;
}