.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(216, 216, 216, 0.4);
    padding-top: 20px;
    padding-bottom: 20px;
    @include breakpoint(xsmall){
        display: none
    }
    @include breakpoint(medium){
        display: none
    }
    li, a{
        margin-right: 20px;
        font-size: 14px;
        font-weight: 400;
        color: $white;
        position: relative;
        &:last-child{
            margin-right: 0;
        }
    }
    &__links{
        display: flex;
        a{
          &:after{
            content: '';
            position: absolute;
            display: block;
            transform-origin: right;
            transform: scaleX(0);
            bottom: -3.5em;
            height: 2px;
            width: 100%;
            background-color: $orange;
            transition: transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
            }
            &:hover{
              &:after{
                  transform: scaleX(1);
                  transform-origin: left;
                  transition: transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
              }
            }
        }
    }
}
.navigation-mobile{
    @include breakpoint(large){
        display: none;
    }
    @include breakpoint(medium){
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
    @media screen and (min-width: 1025px) and (max-width: 1200px) { 
        display: none;
    }
    @media screen and (max-width: 1024px) { 
        display: flex;
    }
    &__logo{
        width: 80%;
    }
    &__overlay{
        position: fixed;
        top: 0;
        background: $white;
        transition: cubic-bezier(0.39, 1.32, 0.46, 0.92) all 0.6s;
        height: 100vh;
        width: 100%;
        z-index: 14;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 40px 20px;
        &--inactive{
            transform: translateX(100%);
        }
        &--active{
            transform: translateX(0);
        }
    }
    &__links{
        display: flex;
        flex-direction: column;
        li, a{
            color: transparent;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: $orange;
            font-family: Montserrat;
            font-weight: 600;
            font-size: 24px;
            letter-spacing: -0.5px;
            line-height: 36px;
        }
    }
}
.menu-item-101{
    a{
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 400;
        color: $white;
        letter-spacing: 1px;
        background: $orange;
        padding: 10px 15px;
        border-radius: 4px;
        -webkit-text-stroke-width: 0;
        text-transform: uppercase;
        &:after{
          height: 0;
        }
    }
}
.burger-wrapper {
    width: 48px;
    height: 48px;
    display: inline-block;
    cursor: pointer;
    transition: transform 400ms;
    z-index: 15;
    position: absolute;
    right: 15px;
    top: 30px;
    @include breakpoint(large){
        display: none;
    }
    @media screen and (min-width: 1024px) and (max-width: 1200px) { 
        display: none
    }
    @media screen and (max-width: 1024px) { 
        display: flex;
    }
    svg {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    .line {
      transition: all 0.6s;
      stroke-width: 6;
      stroke: $orange !important;
    }
    #line-1, #line-3 {
      opacity: 0;
    }
    #line-1-morph {
      stroke: #000;
      stroke-dasharray: 50 139;
    }
    #line-3-morph {
      stroke: #000;
      stroke-dasharray: 34 139;
    }
    #line-2 {
      transform-origin: 38% 20%;
    }
    #line-2-fix {
      opacity: 0;
    }
    &.active {
      transform: rotate(0.375turn);
      #line-1-morph {
        stroke-dashoffset: -85;
      }
      #line-3-morph {
        stroke-dashoffset: -64;
      }
      #line-2 {
        transform: rotate(90deg) translate(-1px, 1px);
      }
    }
  }